<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iv.root.modeling">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_bmstu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.InfoCenterActivity"></activity>
        <activity
            android:name=".ui.activity.QueueActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".ui.activity.GraphActivity" />
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RandomActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>